/* Markdown Styles */
/* Global */
.markdown {
  @apply leading-relaxed text-sm;
}
@screen sm {
  .markdown {
    @apply text-base;
  }
}
@screen lg {
  .markdown {
    @apply text-lg;
  }
}

/* Headers */
.markdown h1,
.markdown h2 {
  @apply text-xl my-20;
}
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-lg my-10;
}

@screen sm {
  .markdown h1,
  .markdown h2 {
    @apply text-2xl my-20;
  }
  .markdown h3,
  .markdown h4,
  .markdown h5,
  .markdown h6 {
    @apply text-xl my-10;
  }
}

.markdown h2 {
  border-radius: 4px;
  border-color: #aaaaaa;
  border-left-width: 8px;
  border-left-style: solid;
  margin: 3.1em 0 0.9em;
  padding: 10px 0 10px 15px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.markdown h3 {
  border-radius: 2px;
  border-color: #cccccc;
  border-left-width: 4px;
  border-left-style: solid;
  margin: 2.4em 0 0.8em;
  padding: 10px 0 10px 15px;
}
.markdown h4 {
  margin: 2.2em 0 0.8em;
  padding: 10px 0 10px 15px;
}

.markdown h5 {
  margin: 2.1em 0 0.8em;
  padding: 10px 0 10px 15px;
}

/* Links */
.markdown a {
  @apply text-blue-600;
}
.markdown a:hover {
  @apply underline;
}

/* Paragraph */
.markdown p {
  @apply mb-4 leading-8 md:leading-10 text-justify;
}

/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}

/* Blockquotes */
.markdown blockquote {
  @apply p-2 mx-2 my-2 bg-gray-100 mb-4 border-l-4 border-gray-400  rounded-r-lg;
}
.markdown blockquote > p {
  @apply mb-0;
}

/* Images */
.markdown img {
  @apply shadow-lg;
}

/* Code */
.markdown :not(pre) > code {
  @apply bg-indigo-50 p-1 font-semibold text-gray-600 rounded-lg;
}

/* Pre */
.markdown pre {
  @apply mx-2;
}

.markdown table {
  @apply table-auto;
}
.markdown th,
.markdown td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.markdown * {
  border-color: black;
}
